@page "/"
@using InfinityChat.Controllers
@using InfinityChat.Models
@using Microsoft.AspNetCore.Components.Forms

@{
    var chatMessageController = new ChatMessageController();
    var messages = chatMessageController.GetAll();
    var pageTitle = $"{messages.Count} messages";
}

<PageTitle>@pageTitle</PageTitle>

<div class="text-center">
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;___&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;__&nbsp;_&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_&nbsp;_&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;____&nbsp;_&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_&nbsp;&nbsp;&nbsp;<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;|_&nbsp;_|_&nbsp;__&nbsp;&nbsp;/&nbsp;_(_)_&nbsp;__&nbsp;(_)&nbsp;|_&nbsp;_&nbsp;&nbsp;&nbsp;_&nbsp;&nbsp;&nbsp;/&nbsp;___|&nbsp;|__&nbsp;&nbsp;&nbsp;__&nbsp;_|&nbsp;|_&nbsp;<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;||&nbsp;'_&nbsp;\|&nbsp;|_|&nbsp;|&nbsp;'_&nbsp;\|&nbsp;|&nbsp;__|&nbsp;|&nbsp;|&nbsp;|&nbsp;|&nbsp;|&nbsp;&nbsp;&nbsp;|&nbsp;'_&nbsp;\&nbsp;/&nbsp;_`&nbsp;|&nbsp;__|<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;||&nbsp;|&nbsp;|&nbsp;|&nbsp;&nbsp;_|&nbsp;|&nbsp;|&nbsp;|&nbsp;|&nbsp;|&nbsp;|_|&nbsp;|_|&nbsp;|&nbsp;|&nbsp;|___|&nbsp;|&nbsp;|&nbsp;|&nbsp;(_|&nbsp;|&nbsp;|_&nbsp;<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;|___|_|&nbsp;|_|_|&nbsp;|_|_|&nbsp;|_|_|\__|\__,&nbsp;|&nbsp;&nbsp;\____|_|&nbsp;|_|\__,_|\__|<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|___/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</div>

<EditForm Model="@newMessage" OnValidSubmit="@CreateMessage">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <fieldset id="chatInput">
        <div class="chatInputPart">
            <h3>Author</h3>
            > <InputText id="authorText" name="Author" @bind-Value="newMessage.Author"/>
        </div>
        <div class="chatInputPart">
            <h3>Message</h3>
            > <InputText id="messageText" name="Message" @bind-Value="newMessage.Message"/>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </fieldset>
</EditForm>

<div id="messages">
    @foreach (var message in messages)
    {
        <div class="message">
            <h2>@message.Author</h2>
            <p>@message.TimeStamp</p>
            <p>@message.Message</p>
        </div>
    }
</div>

@code {
    private ChatMessage newMessage = new ChatMessage();

    private void CreateMessage()
    {
        if (newMessage.Author != null && newMessage.Message != null && 
            newMessage.Author != string.Empty && newMessage.Message != string.Empty && 
            newMessage.Author.Length <= 200 && newMessage.Message.Length <= 1000)
        {
            var chatMessageController = new ChatMessageController();
            newMessage.TimeStamp = DateTime.Now;
            chatMessageController.AddChatMessage(newMessage);
            newMessage = new ChatMessage()
            {
                Author = newMessage.Author
            };
        }
    }
}